## VacationPy

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests as r
import gmaps
import json
import time
import os


from api_keys import weather_key
from api_keys import gkey

In [4]:
cw = pd.read_csv(os.path.join("weatherpy.csv"))
cw.head()

,city,country,date,max_temp,cloudiness,humidity,wind_speed,lat,lng
0,Abalak,RU,1600396250,46.60,100,91,10.51,58.13,68.59
1,Abhā,SA,1600396133,64.40,54,22,4.99,18.22,42.51
2,Acaraú,BR,1600396128,77.45,0,84,14.09,-2.89,-40.12
3,Adrar,MR,1600396127,91.35,0,14,9.22,20.50,-10.07
4,Ahipara,NZ,1600395993,56.80,100,86,14.58,-35.17,173.17

In [5]:
cw.cloudiness.mean()

47.62481962481962

In [7]:

fig = gmaps.figure(center=(35, -5), zoom_level=2)

location = cw[['lat','lng']]
weight = cw.humidity.astype(float)

heat_layer = gmaps.heatmap_layer(locations=location, weights=weight, 
                                 dissipating=False, max_intensity=100, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Filter minimum and maximum temperature, rainfall and snowfall for ideal vacation
print('What is the maximum temperature you prefer?')
max_temp = int(input())

print('What is the minimum temperature you prefer?')
min_temp = int(input())

print('Do you high or low windspeed? (high/low)')
wind_speed = input()

print('Do you want any cloudiness? (heavy/light)')
input()
cloudiness = 'no'

if wind_speed == 'high':
    customer_search = cw[cw['wind_speed'] > 15]
    customer_search = customer_search[
    (customer_search['max_temp'] >= min_temp) 
    & (customer_search['max_temp'] <= max_temp)
    ].sort_values(by='city').reset_index().drop('index', axis=1)

else:
    customer_search = cw[cw['wind_speed'] <= 15]
    customer_search = customer_search[
    (customer_search['max_temp'] >= min_temp) 
    & (customer_search['max_temp'] <= max_temp)
    ].sort_values(by='city').reset_index().drop('index', axis=1)
    
if cloudiness == 'heavy':
    customer_search = cw[cw['cloudiness'] >= 50]
    cw = cw[
    (cw['max_temp'] >= min_temp) 
    & (cw['max_temp'] <= max_temp)
    ].sort_values(by='city').reset_index().drop('index', axis=1)
else:
    customer_search = cw[cw['cloudiness'] < 50]
    cw = cw[
    (cw['max_temp'] >= min_temp) 
    & (cw['max_temp'] <= max_temp)
    ].sort_values(by='city').reset_index().drop('index', axis=1)

customer_search

What is the maximum temperature you prefer?
60
What is the minimum temperature you prefer?
50
Do you high or low windspeed? (high/low)
low
Do you want any cloudiness? (heavy/light)
light

,city,country,date,max_temp,cloudiness,humidity,wind_speed,lat,lng
2,Acaraú,BR,1600396128,77.45,0,84,14.09,-2.89,-40.12
3,Adrar,MR,1600396127,91.35,0,14,9.22,20.50,-10.07
6,Airai,TL,1600396130,79.32,4,39,3.33,-8.93,125.41
7,Ajdabiya,LY,1600396185,71.11,0,86,5.30,30.76,20.23
9,Aksu,CN,1600396224,75.29,28,19,4.45,41.12,80.26
...,...,...,...,...,...,...,...,...,...
686,Zarubino,RU,1600396265,64.90,6,65,8.90,42.63,131.09
687,Zhigansk,RU,1600396190,50.45,0,51,1.43,66.77,123.37
688,Zhuhai,CN,1600396147,86.00,40,84,16.11,22.28,113.57
691,Şabyā,SA,1600396182,87.80,0,74,3.36,17.15,42.63
692,Şebinkarahisar,TR,1600396163,56.89,0,48,0.89,40.29,38.42